{% extends "base.html" %}

{% block content %}
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h2 class="subtitle">
                Remotely control and check the status of your american fuzzy lop instances. Add new processes, collect fuzzing results, and triage automatically.
            </h2>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <p class="notification is-primary">
                    Fast
                </p>
            </div>
            <div class="column">
                <p class="notification is-primary">
                    Simple
                </p>
            </div>
            <div class="column">
                <p class="notification is-primary">
                    Clean
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
